--swiftversion 6.0

--indent 4
--tabwidth 4

--linebreaks lf

--commas inline

--trimwhitespace always

--header ignore

--self remove

--stripunusedargs closure-only

--closingparen balanced

--wraparguments preserve

--wrapparameters preserve

--wrapcollections preserve

--wrapconditions preserve

--ifdef no-indent

--disable redundantReturn